.micro-div {
    background-color: black;
    color: white;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
    display: inline-block;
    width: 500px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}